<p class="media">
  <div class="media-left media-middle icon-container">
    <span
      ng-if="glyphicon"
      class="glyphicon glyphicon-{{ glyphicon }}"
      ng-click="iconClick()"
      ng-class="{clickable: hasIconClick}">  
    </span>
    <img
      ng-if="!glyphicon"
      class="media-object img-circle"
      ng-src="{{ user.photo }}">
  </div>
  <div class="media-body">
    <h4 class="media-heading tucked">
      <div
        ng-if="isForm"
        contenteditable
        placeholder="Jean Doe"
        ng-model="user.name"
        class="form-like">
      </div>
      <span
        ng-if="!isForm"
        contenteditable
        placeholder="Jean Doe"
        ng-model="user.name"
        ng-model-options="{debounce: 500}"
        eat-click>  
      </span>
      <span
        ng-if="!isForm"
        class="glyphicon glyphicon-certificate toggleable"
        ng-class="{transparent: !user.isAdmin}"
        ng-click="user.isAdmin = !user.isAdmin"
        eat-click>  
      </span>
    </h4>
    <h5 class="tucked">
      <div
        ng-if="isForm"
        contenteditable
        placeholder="email@website.com"
        ng-model="user.email"
        class="form-like">
      </div>
      <span
        ng-if="!isForm"
        contenteditable
        ng-model="user.email"
        ng-model-options="{debounce: 500}"
        eat-click>
      </span>
    </h5>
    <h5 class="tucked">
      <div
        ng-if="isForm"
        contenteditable
        placeholder="(555) 555-5555"
        ng-model="user.phone"
        class="form-like">
      </div>
      <span
        ng-if="!isForm"
        contenteditable
        placeholder="(555) 555-5555"
        ng-model="user.phone"
        ng-model-options="{debounce: 500}"
        eat-click>
      </span>
    </h5>
  </div>
  <div class="media-right media-middle">
    <button
      ng-if="!isForm"
      class="btn btn-default"
      ng-click="removeUser()"
      eat-click>
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</p>
