user-item * {
  white-space: nowrap; }

user-item .icon-container {
  position: relative; }
  user-item .icon-container .glyphicon {
    font-size: 40px;
    padding: 20px;
    border-radius: 50%; }
  user-item .icon-container .glyphicon.clickable {
    background-color: #f0ad4e;
    color: #fff; }
    user-item .icon-container .glyphicon.clickable:hover {
      background-color: #eea236; }
  user-item .icon-container img {
    width: 80px; }

user-item .media-heading {
  margin-top: 3px; }

.toggleable:hover {
  opacity: 0.5;
  cursor: pointer; }
