.navbar {
  border: none;
  border-radius: 0;
  border-bottom: 1px dotted #777; }
  .navbar .navbar-nav .active > a {
    background: transparent;
    position: relative; }
    .navbar .navbar-nav .active > a:hover, .navbar .navbar-nav .active > a:focus {
      background: transparent; }
    .navbar .navbar-nav .active > a::before {
      position: absolute;
      bottom: 0;
      content: '';
      left: calc(50% - 0.8em);
      border-bottom: 0.6em solid #555;
      border-right: 0.8em solid transparent;
      border-left: 0.8em solid transparent; }
  .navbar .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px; }
    .navbar .navbar-brand img {
      height: 100%; }

@media (max-width: 767px) {
  .navbar .navbar-nav .active > a::before {
    left: 0;
    bottom: calc(50% - 0.8em);
    border-left: 0.6em solid #555;
    border-bottom: 0.8em solid transparent;
    border-top: 0.8em solid transparent;
    border-right: none; } }
