.user-list {
  display: flex;
  flex-wrap: wrap; }
  .user-list > * {
    flex: 1; }

.user-query {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .user-query > * {
    flex: 1; }

.user-list .list-group-item, .user-query .list-group-item {
  border-radius: 4px;
  margin: 0; }
