<div class="container">
  <div class="list-group-item story-item">
    <ul class="list-inline">
      <li>
        <span
          class="large-font"
          contenteditable ng-model="searchStory.title"
          placeholder="Story Title">
        </span>
      </li>
      <li>
        <span>by</span>
      </li>
      <li>
        <span
          contenteditable
          ng-model="searchStory.author.name"
          placeholder="Jean Doe">
        </span>
      </li>
    </ul>
    <span class="glyphicon glyphicon-search"></span>
  </div>
  <br>
  <ul class="list-group">
    <li class="list-group-item story-item">
      <ul class="list-inline">
        <li>
          <span
            class="large-font"
            contenteditable
            ng-model="newStory.title"
            placeholder="Story Title">
          </span>
        </li>
        <li>
          <span>by</span>
        </li>
        <li>
          <select
            ng-options="user.id as user.name for user in users"
            ng-model="newStory.author_id"
            required>
            <option value='' disabled>(select an author)</option>
          </select>
        </li>
      </ul>
      <button class="btn btn-warning btn-xs" ng-click="addStory()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </li>
    <li
      ng-repeat="story in stories | filter:searchStory"
      class="list-group-item story-item">
      <ul class="list-inline">
        <li>
          <a class="large-font" ui-sref="story({id: story.id})">{{ story.title }}</a>
        </li>
        <li>
          <span>by</span>
        </li>
        <li>
          <a ui-sref="user({id: story.author_id})">{{ story.author.name }}</a>
        </li>
      </ul>
      <button class="btn btn-default btn-xs" ng-click="removeStory(story)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </li>
  </ul>
</div>
